// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// $container-max-widths: (
//   sm: 420px,
//   md: 720px,
//   lg: 960px
// );

//7a6c56
// eee9e07d


body {
    //background: rgba(223, 212, 192, 0.877);
    //background: rgba(218, 201, 172, 0.74);
    background:#f1e9c2;
    margin: 2px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    //background: url("/images/background/background.jpg");
}

footer {
    color: rgb(0, 0, 0);
    width: 98%;
    position: fixed;
    /* Фиксированное положение */
    left: 0;
    bottom: 0;
    /* Левый нижний угол */
    height: 55px;
    font-size: small;
}

.header {
    font-size: medium;
    height: 60px;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}
.text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.news {
    text-align: center;
}

.forum-desc {
    margin-left: 5px;
    font-size: 9pt;
    color: dimgrey;
    padding: 0px;
    margin: 0px;
}

.forum-desc-user {
    font-size: 8.5pt;
    color: dimgrey;
}

.btn-custom {
    background-color: #b59a6b;
    color: #FFF;
    border: 0 !important;
    border-radius: 0;
    height: 28px;
}
.btn-custom:hover {
    background-color: #88734e;
}

A:hover.btn-custom {
    color:#FFF;
    text-decoration: none;
}

.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.table-color {
    background: #ffffde;
    //ffffde
}
.table-color:nth-child(2n) {
    background:#f9f1c5;
 }

.table-bord {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.1rem rgba(206, 212, 218, 0.253);
}

.aside {
    //max-width: 190px;
    padding: 0;
    align-items: start;
    align-self: start;
}

.min-avatar {
    width: 42px;
    padding: 0.1rem !important;
}

.min-logo {
    width: 47px;
    padding: 0.1rem !important;
}
.min-avatar-mob {
    width: 28px;
    padding: 0.1rem !important;
}

.logo {
    width: 80px;
    padding: 0.1rem !important;
}

.naw-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

A {
    color: black;
    //display: block;
    text-decoration: none;
   }

A:hover {
    text-decoration: underline;
    color: black;
}

.post-a-color {
    color:#660000;
}

.tema {
    //min-width: 75%;
    width: 100%;
    padding-left: 4px;
}

.stat-tema {
    width: 15px;
    text-align: center;
}

.stat-post {
    min-width: 15px;
    text-align: center;
}
/*
.last-post {
    //min-width: 100px;
    //max-width: 200px;
}
*/
.title_table {
    text-align: center;
    text-decoration: solid;
    background: #c5ac8fe3;
    width: 100%;
    height: 20px;
    font-size: medium;
}

.hr-color {
    background: #b59a6b;
}

.title_r {
    font-size: small;
    text-align: center;
}

.forum_comment {
    font-size: small;
    color: dimgrey;
    padding-left: 2px;
}

.forumNew {
    padding: 5px;
    border: 10px;
    font-size: medium;
}
.sidenav {
    position: static;
    font-size: medium;
    //border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px;
    flex-direction: column;
}


.alert-success {
    color: #009766d6;
    background-color: #e2d4bc;
    border-color: #e2d4bc;
    text-align: center;
    margin: 0;
    padding: 0;
}

.links
{
    color: black;
}

.text-end {
    text-align: right;
}

.text-begin {
    text-align: left;
}

