// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

body {
    //background: rgba(223, 212, 192, 0.877);
    //background: rgba(218, 201, 172, 0.74);
    background: #f1e9c2;
    margin: 2px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    //background: url("/images/background/background.jpg");
}

p {
    margin: 0 !important;
}

blockquote {
    background: #f1e9c28f;
    color: #4a4741;
    margin: 0 0 1rem 1rem;
    padding: 5px 13px !important;
    font-size: 14px;
    font-style: italic;
    font-family: "Open Sans", "Arial", Helvetica, serif !important;
    border-style: solid;
    border-color: #afa4843d;
    border-width: 0.005rem;
    border-radius: 0px 15px !important;
}

footer {
    color: rgb(0, 0, 0);
    width: 98%;
    position: fixed;
    /* Фиксированное положение */
    left: 0;
    bottom: 0;
    /* Левый нижний угол */
    height: 55px;
    font-size: small;
}

.header {
    font-size: medium;
    height: 60px;
}

.forum-desc {
    margin-left: 5px;
    font-size: 9pt;
    color: #6a6a6a !important;
    padding: 0px;
    margin: 0px;
}
i.forum-desc {
    color: #8f8f8f !important;
}

.input-text-number:hover,
.input-text-number:focus {
    width: 50px;
    background: #ffffe0d9;
    height: 25px;
    border-color: #c9c1a2 !important;
    outline: 0;
}
.input-text-number {
    width: 50px;
    height: 25px;
    background: #fdfddbb3;
    border-color: #c9c1a2 !important;
    outline: 0;
}

.input-text:hover,
.input-text:focus {
    width: 100%;
    background: #ffffe0d9;
    border-color: #c9c1a2 !important;
    outline: 0;
}
.input-text {
    width: 100%;
    background: #fdfddbb3;
    border-color: #c9c1a2 !important;
    outline: 0;
}

.form-check-input:checked {
    background-color: #b59a6b !important;
    border-color: #e2d5ac;
}
.form-check-input:focus {
    border-color: #e2d5ac;
    outline: 0;
    box-shadow: 0 0 0 0 #e2d5ac8f;
}
.form-check-input[type="checkbox"] {
    border-radius: 0.25em;
    background-color: #f9f6d3;
}
.roles-button {
    background-image: var(--bs-gradient);
    background-color: #cebb90;
    border-color: #c4b48d !important;
}
.roles-button:hover {
    background-image: var(--bs-gradient);
    background-color: #b59a6b;
    border-color: #c4b48d !important;
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(226 213 172 / 65%);
    opacity: 1;
}

//btn custom
.btn-custom-modal {
    background-color: #bca476;
    color: #fff;
    border: 0 !important;
    border-radius: 0;
    height: 28px !important;
    width: 85px !important;
}
.btn-custom-modal:hover {
    background-color: #ad9468;
    height: 28px !important;
    color: #fff;
    text-decoration: none;
}
.btn-custom {
    background-color: #b59a6b;
    color: #fff;
    border: 0 !important;
    border-radius: 0;
    height: 28px !important;
    width: 85px !important;
}
.btn-custom:hover {
    background-color: #9a7e4d;
    height: 28px !important;
    color: #fff;
    text-decoration: none;
}
.new-tema {
    .btn-check:checked + .btn-outline-primary,
    .btn-outline-primary:hover,
    .btn-check:active + .btn-outline-primary,
    .btn-outline-primary:active,
    .btn-outline-primary.active,
    .btn-outline-primary.dropdown-toggle.show {
        color: #ffffe0;
        background-color: #b59a6b;
        border-color: #cec6a7d9;
        padding-top: 3px;
        border-radius: 0;
        width: 100% !important;
        i {
            color: #e3e3cb !important;
        }
    }
    .btn-outline-primary {
        color: #9a7e4d;
        border-color: #c9c1a2;
        background-color: #fdfddbb3;
        padding-top: 3px;
        border-radius: 0;
        width: 100% !important;
        i {
            color: #888477 !important;
        }
    }
    .btn-check:checked + .btn-outline-primary:focus,
    .btn-check:active + .btn-outline-primary:focus,
    .btn-outline-primary:active:focus,
    .btn-outline-primary.active:focus,
    .btn-outline-primary.dropdown-toggle.show:focus,
    .btn-check:focus + .btn-outline-primary,
    .btn-outline-primary:focus {
        box-shadow: 0 0 0 0;
    }
    .btn-group {
        width: 100% !important;
    }
}

.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.table-color {
    background: #ffffde;
    //ffffde
}

.table-color:nth-child(2n) {
    background: #f9f1c5;
}

.table-bord {
    border-color: light;
    box-shadow: 0 0 0 0.1rem rgba(206, 212, 218, 0.253);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.aside {
    //max-width: 190px;
    padding: 0;
    align-items: start;
    align-self: start;
}

// avatars
.min-avatar {
    width: 42px !important;
    height: 42px !important;
    padding: 0.1rem !important;
}
.max-avatar {
    width: 120px !important;
    padding: 0.1rem !important;
    height: 120px !important;
}
.min-logo {
    width: 47px !important;
    padding: 0.1rem !important;
}
.min-avatar-mob {
    width: 30px !important;
    height: 30px !important;
    padding: 0.1rem !important;
}
.min-avatar-post {
    width: 39px !important;
    height: 39px !important;
    padding: 0.1rem !important;
}
.logo {
    width: 80px;
    padding: 0.1rem !important;
}

.icon-news {
    width: 15px !important;
    height: 15px !important;
    padding-bottom: 3px !important;
}
.news {
    A {
        color: #6a0000 !important;
        text-decoration: none;
        font-weight: bold;
    }
    A:hover {
        text-decoration: underline;
    }
}

// link
.naw-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}
A {
    color: black;
    //display: block;
    text-decoration: none;
}
A:hover,
.dropdown-item.active,
.dropdown-item:active {
    text-decoration: underline;
    color: black;
}
.links {
    color: black;
}

.post-a-color {
    color: #6a0000;
}

.tema {
    //min-width: 75%;
    width: 100%;
    padding-left: 4px;
}

.stat-tema {
    width: 15px;
    text-align: center;
}

.stat-post {
    min-width: 15px;
    text-align: center;
}

.title_table {
    text-align: center;
    text-decoration: solid;
    background: #c5ac8fe3;
    width: 100%;
    height: 20px;
    font-size: medium;
}

.hr-color {
    background: #b59a6b;
}

.post {
    background: #f9f1c5;
    border-color: #ced4da;

    .text {
        background: #ffffde;
    }

    .logo {
        width: 100px !important;
        height: 100px !important;
    }

    .inf {
        min-width: 125px;
    }

    .text-centre {
        text-align: center !important;
    }

    img {
        max-width: 300px !important;
        height: auto !important;
    }
}

.title-shadow {
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.forum_comment {
    font-size: small;
    color: dimgrey;
    padding-left: 2px;
}

.sidenav {
    position: static;
    font-size: medium;
    //border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px;
    flex-direction: column;
}

.alert-success {
    color: #009766d6;
    background-color: #e2d4bc;
    border-color: #e2d4bc;
    text-align: center;
    margin: 0;
    padding: 0;
}

.text-end {
    text-align: right;
}

.text-begin {
    text-align: left;
}

// popover
.popover {
    background: #e8e0bf;
    border: 1px #d6d1b2;

    .popover-body {
        padding: 5px 10px !important;
        min-width: 40px;
        text-align: center;
    }
}
.popover .popover-arrow::before,
.popover .popover-arrow::after {
    border: none !important;
}

// scroll
.scroll {
    ::-webkit-scrollbar {
        width: 3px;
        height: 1px;
        background: #f4efcd;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #f4efcd;
        border-radius: 3px;
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        background: #97856780;
        border-radius: 3px;
        display: none;
    }
    scroll-behavior: smooth;
}
.scroll:hover {
    ::-webkit-scrollbar {
        width: 3px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #f4efcd;
        border-radius: 3px;
        display: inline;
    }
    ::-webkit-scrollbar-thumb {
        background: #97856780;
        border-radius: 3px;
        display: inline;
    }
    scroll-behavior: smooth;
}

// PAGINATION
.pagination a {
    background-color: #fbf6d1;
    height: 28px !important;
}
.pagination a:hover {
    background-color: #9a7e4dcc;
    color: #eee !important;
}
.pagination a:focus {
    box-shadow: 0 0 0 0.2rem #9a7e4d5c;
}
.pagination .active {
    background-color: #9a7e4d;
}
.page-item.active .page-link {
    background-color: #9a7e4d;
    border-color: 0;
}
.pagination .page-link {
    border: 1px solid #d6d1b2 !important;
    border-radius: 0 !important;
}
.pagination .page-item.active {
    a {
        color: #eee !important;
    }
}

.flicker {
    animation: flicker 1.5s infinite;
}
@keyframes flicker {
    from {
        opacity: 0.4; /* Непрозрачный текст */
    }
    to {
        opacity: 1; /* Прозрачный текст */
    }
}
